@model List<LrProductServiceModel>

@{ ViewBag.Title = "Products by category"; }

<hr class="bg-primary w-75">
@if (Model.Count == 1 && !User.IsAdmin())
 {
    <form class="mx-auto w-50" size="3">
      <div class="alert alert-secondary alert-dismissible fade show small ">
          <strong>We expect delivery of a new batch from the plant in Germany.</strong><button type="button" class="close btn-outline-danger" data-dismiss="alert">&times;</button>
      </div>
    </form>
 }
<hr class="bg-primary w-50">
<h2 class="text-center mt-2">@ViewBag.Title</h2>

@if (Model.Count != 1)
{
    <h1 class="text-center mt-2 text-success">▪</h1>
    <h1 class="text-center mt-2 text-white">▪</h1>
    <h1 class="text-center mt-2 text-white">▪</h1>
    <h1 class="text-center mt-2 text-white">▪</h1>
}
else
{
    <h1 class="text-center mt-2 text-danger">▪</h1>
    <h1 class="text-center mt-2 text-secondary">▪</h1>
    <h1 class="text-center mt-2 text-secondary">▪</h1>
    <h1 class="text-center mt-2 text-secondary">▪</h1>
}
<form class="mx-auto w-50" size="3">
 @if (Model.Count == 1)
 {
<img src="https://img5.goodfon.com/wallpaper/nbig/0/fb/devushka-shatenka-shliapa-priroda-lug-tsvety-peizazh.jpg"
         class="card-img-top img-fluid card-image rounded-left " data-toggle="tooltip"
         data-placement="bottom">  
 }
 else
 {
     int i = 1;
     foreach (var photo in Model[0].Photos)
     {
       @if (Model[1].CategoryId == i)
       {
         <img src=@photo
         class="card-img-top img-fluid card-image rounded-left " data-toggle="tooltip"
         data-placement="bottom">
       }
         i++;
     }
    
 }
@if (Model.Count != 1)
{
    <h1 class="text-center mt-2 text-white">▪</h1>
    <h1 class="text-center mt-2 text-white">▪</h1>
    <h1 class="text-center mt-2 text-white">▪</h1>
    <h1 class="text-center mt-2 text-white">▪</h1>
}
else
{
    <h1 class="text-center mt-2 text-secondary">▪</h1>
    <h1 class="text-center mt-2 text-secondary">▪</h1>
    <h1 class="text-center mt-2 text-secondary">▪</h1>
    <h1 class="text-center mt-2 text-secondary">▪</h1>
}
@if (Model.Count != 1)
{
    for (int i = 1; i < Model.Count; i++)
    {

        <div class="form-group col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
            <a class="btn btn-block btn-outline-warning btn-sm font-italic text-break"
               asp-controller="LrProducts"
               asp-action="Details"
               asp-route-id="@Model[i].Id">
                @Model[i].Model
            </a>
            <img src="@Model[i].PictureUrl"
                 class="card-img-top img-fluid card-image rounded-left " data-toggle="tooltip"
                 data-placement="bottom" title="LR">
            <a class="btn btn-block btn--secondary text-white text-lg-center"
               asp-controller="LrProducts"
               asp-action="Details"
               asp-route-id="@Model[i].Id">
                @Model[i].Price lv.
            </a>
        
            <h4 class="text-center mt-2 text-white ">▪</h4>
            <h4 class="text-center mt-2 text-success ">▪</h4>
            <h4 class="text-center mt-2 text-white ">▪</h4>
        
        </div>
    }
    <hr class="bg-white w-50">
}
</form>
