@model List<LrProductDetailsServiceModel>

@{ ViewBag.Title = "Favorits♡"; }

<hr class="bg-primary w-25">
<hr class="bg-primary w-50">
<hr class="bg-primary w-25">
 <h2 class="text-center mt-2">@ViewBag.Title</h2>
 @if (Model.Any())
 {
    <h1 class="text-center mt-2 text-success">▪</h1>   

 }
 else
 {
    <h1 class="text-center mt-2 text-danger">▪</h1>  
 }
<div class="container w-75">    
      <img class="d-block w-100" src="https://i.pinimg.com/originals/16/7d/45/167d45c1fdb2cc5c50f6fed50e76e46b.jpg" alt="Responsive image">
</div>     
<hr class="bg-primary w-25">
<hr class="bg-primary w-50">
<hr class="bg-primary w-25">

@if (!Model.Any())
{
<h3 class="text-center">No products found by the given criteria!</h3>
}

<div class="row justify-content-center">
@foreach (var product in Model)
{
<div class=" col-md-4 ">
    <div class="form-group card mb-3 ">
        <a class="btn btn-outline-warning text-sm text-break"
           asp-controller="LrProducts"
           asp-action="Details"
           asp-route-id="@product.Id">
            @product.Model
        </a>
        <img class="card-img-top" src="@product.PictureUrl" alt="@product.Price">
        <div class="card-body text-center">
            <ul class="list-group list-group-flush ">
                <li class="list-group-item text-xl-center text-white">@product.Price lv.</li>
            </ul>
            <ul class="list-group list-group-flush ">
                <li class="btn-group btn-group d-flex justify-content-center " role="group" aria-label="Button group example">                   
                    <a class="btn btn-success text-break text-white text-xl-center"
                       asp-controller="LrProducts"
                       asp-action="Details"
                       asp-route-id="@product.Id">
                        $hop
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>
}
</div>

