@model AddQuestionModel
@{ ViewBag.Title = "Questions"; }
<hr class="bg-primary w-75">
<hr class="bg-primary w-50">
<h2 class="text-center mt-2 text-white">@ViewBag.Title</h2>
@if (Model.Questions.Count == 0)
{    
    <h1 class="text-center mt-2 text-danger">▪</h1> 
}
else
{    
    <h1 class="text-center mt-2 text-success">▪</h1>
}

<form class="mx-auto w-75" method="post">
    <img src="https://sfs.jobs/sfs-group/sfs-group-dna_basicteaserimagehighlightmobile.jpg"
             class="img-fluid  d-block w-100 "
             alt="Responsive image" />
            
    @if (!User.IsAdmin())
    {
        <div class="form-group">
          <textarea asp-for="Description" rows="4" type="text" class="form-control" id="description-input"></textarea>
          <span asp-validation-for="Description" class="small text-danger"></span>
        </div>

        <div class="button-holder d-flex justify-content-center">
          <button type="submit" class="btn btn-block btn-primary text-white w-auto">Add Question</button>           
        </div>
    }
</form>


@if (Model.Questions.Count == 0)
{    
<h1 class="text-center mt-2 text-secondary">▪ ▪ ▪ ▪ ▪</h1>
}
else
{    
<h1 class="text-center mt-2 text-white">▪ ▪ ▪ ▪ ▪</h1>
}

<form class="mx-auto w-75">

    @foreach (var quest in Model.Questions)
    {

        <div class="form-group">
            <ul class="list-group list-group-flush ">
                <li class="list-group-item text-right mt-2 text-success">•</li>
                <li class="list-group-item text-center ">Date : @quest.CreatedOn</li>
                <li class="list-group-item text-center text-break">@quest.Name : @quest.Description</li>

                @if (quest.AnswerId != null)
                {
                    <li class="list-group-item text-center text-break">Answer : @quest.AnswerDescription</li>
                }

                @if (quest.AnswerId == null)
                {
                    <li class="list-group-item text-center text-light">- Successfully sent! -</li>
                }

                <li class="btn-group btn-group-sm d-flex justify-content-center" role="group" aria-label="Button group example">
                    <a class="btn btn-outline-primary "
                       asp-controller="Questions"
                       asp-action="Delete"
                       asp-route-questId="@quest.QuestionId">Delete Question</a>
                    @if (quest.IsAdministrator)
                    {
                        <a class="btn btn-outline-primary "
                           asp-controller="Answers"
                           asp-action="AddAnswer"
                           asp-route-questId="@quest.QuestionId">Answer</a>
                    }

                    @if (quest.IsAdministrator)
                    {
                        <a class="btn btn-outline-primary "
                           asp-controller="Answers"
                           asp-action="Delete"
                           asp-route-answerId="@quest.AnswerId">Delete Answer</a>
                    }  
                  
                    @if (!quest.IsAdministrator && !quest.StopAtomaticDelete)
                    {
                        <a class="btn btn-outline-primary " title="Stop the function to automatically delete your question. By default the question and the answers to it,will be deleted automatically after 30 days!"
                           asp-controller="Questions"
                           asp-action="AutomaticDelete"
                           asp-route-questId="@quest.QuestionId">Stop Automatic Delete</a>
                    }
                </li>
            </ul>

        </div>
    }

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


