@model List<UserListingViewModel>
@{ ViewBag.Title = "LR Users"; }
<hr class="bg-primary w-75">
<hr class="bg-primary w-50">

@if (!Model.Any(x => !x.IsAdministrator))
{
    <h2 class="text-center mt-2 text-secondary">@ViewBag.Title</h2>
    <h1 class="text-center mt-2 text-danger">▪</h1>
}
else
{
    <h2 class="text-center mt-2 text-white">@ViewBag.Title</h2>
    <h1 class="text-center mt-2 text-success">▪</h1>

}

<form class="mx-auto w-75">
    @if (User.IsAdmin())
    {
        <img class="d-block w-100 " src="https://chamlinlaw.com/wp-content/uploads/2016/01/Assault_CR.jpg" alt="Responsive image">
    }
    else
    {
<div class="card" >
    <img src="https://chamlinlaw.com/wp-content/uploads/2016/01/Assault_CR.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
    }
    @for (int i = 0; i < Model.Count; i++)
    {

<div class="form-group">
    <hr class="bg-white w-50">
    <ul class="list-group list-group-flush ">
        <li class="list-group-item text-xl-center text-white">@Model[i].Username</li>
        <li class="list-group-item text-center text-break">@Model[i].Email</li>
        <li class="list-group-item text-center text-break">@Model[i].PhoneNumber</li>
        <li class="list-group-item text-center">@Model[i].NumberQuestions   @Model[i].NumberMessages</li>
        <li class="btn-group btn-group-sm d-flex justify-content-center" role="group" aria-label="Button group example">
            @if (User.IsAdmin())
            {
                <a class="btn btn-outline-primary "
                   asp-controller="Messages"
                   asp-action="Add"
                   asp-route-lrUserId="@Model[i].Id">Send Message</a>
            }
            <a class="btn btn-danger " title="The feature will immediately delete all your account data except the accumulated points!"
               asp-controller="LrUsers"
               asp-action="DeleteUser"
               asp-route-userId="@Model[i].Id">Delete Account</a>
            @if (User.IsAdmin())
            {
                <a class="btn btn-outline-primary "
                   asp-controller="Messages"
                   asp-action="SendMail"
                   asp-route-userId="@Model[i].Id">Send Email</a>
            }

        </li>
    </ul>
</div>
   
        

    }
  
</form>



