@model UserListingViewModel
@{ ViewBag.Title = "Your profile"; }
<hr class="bg-primary w-75">
<hr class="bg-primary w-50">
<h2 class="text-center mt-2 text-white">@ViewBag.Title</h2>
<h1 class="text-center mt-2 text-success">▪</h1>

<form class="mx-auto w-75">  
<div class="card" >
    
    <div class="card-body">  
        <p2 class="card-text text-success  te">Hello @Model.Username!</p2>
        <img src="https://docplayer.org/docs-images/104/164041053/images/29-8.jpg" class="card-img-top " alt="...">              
    </div>
</div>  
<div class="form-group">
    <hr class="bg-white w-50">  
        <ul class="list-group list-group-flush ">
        <li class="list-group-item text-center text-break">@Model.Username</li>
        <li class="list-group-item text-center text-break">@Model.Email</li>
        <li class="list-group-item text-center text-break">@Model.PhoneNumber</li>
        <li class="list-group-item text-center">Nq:(@Model.NumberQuestions)   Nm:(@Model.NumberMessages)</li>
        <li class="btn-group btn-group-sm d-flex justify-content-center" role="group" aria-label="Button group example">
            <a class="btn btn-danger " title="The feature will immediately delete all your account data except the accumulated points!"
               asp-controller="LrUsers"
               asp-action="DeleteUser"
               asp-route-userId="@Model.Id">Delete Profile</a>
            <a class="btn btn-primary " title="The feature will immediately delete all your account data except the accumulated points!"
               asp-controller="LrUsers"
               asp-action="UpdateProfile"
               asp-route-userId="@Model.Id">Update Profile</a>
        </li>
    </ul>
</div>     
</form>