@model List<LrUsersStatisticsFormModel>
@{ ViewBag.Title = "LR Users"; }
<hr class="bg-primary w-75">
<hr class="bg-primary w-50">


<h2 class="text-center mt-2 text-white">@ViewBag.Title</h2>
<h1 class="text-center mt-2 text-success">▪</h1>


<form class="mx-auto w-75">
    @if (User.IsAdmin())
    {
        <img class="d-block w-100 " src="https://chamlinlaw.com/wp-content/uploads/2016/01/Assault_CR.jpg" alt="Responsive image">
    }
  
    @for (int i = 0; i < Model.Count; i++)
    {

<div class="form-group">
    @if(Model[i].Id != null)
    {
    <hr class="bg-success w-50">
    }
    else if(Model[i].IsDanger)
    {
    <hr class="bg-danger w-50">
    }
    else
    {
    <hr class="bg-white w-50">
    }
    <ul class="list-group list-group-flush ">
        <li class="list-group-item text-center text-break">@Model[i].Username</li>
        <li class="list-group-item text-center text-break">@Model[i].Email</li>
        <li class="list-group-item text-center text-break">@Model[i].PhoneNumber</li>
        <li class="list-group-item text-center">Nc:(@Model[i].CategoryVisitsCount)</li>
        <li class="list-group-item text-center">Np: @Model[i].ProductsVisitsCount</li>
        <li class="btn-group btn-group-sm d-flex justify-content-center" role="group" aria-label="Button group example">
            @if (Model[i].Id != null)
            {
                <a class="btn btn-outline-primary "
                   asp-area="Admin"
                   asp-controller="Messages"
                   asp-action="Add"
                   asp-route-lrUserId="@Model[i].Id">Message</a>
                <a class="btn btn-outline-primary "
                   asp-area="Admin"
                   asp-controller="Messages"
                   asp-action="SendMail"
                   asp-route-userId="@Model[i].Id">Email</a>
                <a class="btn btn-outline-primary "
                   asp-area="Admin"
                   asp-controller="Messages"
                   asp-action="Sms">Sms</a>
                <a class="btn btn-danger " title="The feature will immediately delete all your account data except the accumulated points!"
                   asp-area="DnaFragmentControllers"
                   asp-controller="LrUsers"
                   asp-action="DeleteUser"
                   asp-route-userId="@Model[i].Id">Delete DB</a>
            }
        </li>
    </ul>
</div>

    }

</form>

